# Data Download

To make an API call using python, we use the `requests` library. Before we start coding, we need to read the documentation to understand if we need to set-up any configuration beforehand.

Below is a copy+paste of the MVCC [API Documentation](https://dev.socrata.com/foundry/data.cityofnewyork.us/h9gi-nx95).
#### START

### API Documentation 

#### Getting Started
All communication with the API is done through HTTPS, and errors are communicated through HTTP response codes. Available response types include JSON (including GeoJSON), XML, and CSV, which are selectable by the "extension" (.json, etc.) on the API endpoint or through content-negotiation with HTTP Accepts headers.

This documentation also includes inline, runable examples. Click on any link that contains a  gear symbol next to it to run that example live against the Motor Vehicle Collisions - Crashes API. If you just want to grab the API endpoint and go, you'll find it below.

#### Tokens
All requests should include an app token that identifies your application, and each application should have its own unique app token. A limited number of requests can be made without an app token, but they are subject to much lower throttling limits than request that do include one. With an app token, your application is guaranteed access to it's own pool of requests. If you don't have an app token yet, click the button to the right to sign up for one.

Once you have an app token, you can include it with your request either by using the X-App-Token HTTP header, or by passing it via the $$app_token parameter on your URL.

#### END

**The above tells us a few important points:**
1. All API calls are done via HTTPS and errors are communicated through HTTP response codes. Response codes indicate to the client what has happened. Typically a response of 200/201 indicates a success, while a 401/403 indicates an error.

2. We need to use {'X-App-Token': APP_TOKEN} as our headers to pass to our GET request. Even though this is mentioned, there is no mention on where we need to pass our SECRET. Thus, I suspect this header is an optional argument.

### Things to Know / Plans

We have multiple methods to query the underlying API. We can use a basic cURL request, the NYC OpenData [Socrata API](https://dev.socrata.com/docs/queries/), and/or leveraging SQL to pull the information from the google [bigquery-public-data project](https://cloud.google.com/bigquery/public-data). 

1. The API Documentation from the Socrate API above tells us that we need to use [Paging Through Data](https://dev.socrata.com/docs/paging.html) to pull all the 1.8 million records from the table. This is because the API defaults the limit to 1000 records returned. Paging through the data allows us to set an offset index, which tells the API where to start the returned list of results. It is important to mention that the data has to be ordered properly to ensure the results will be stable as we page through the dataset.
2. The dataset has 1.83 Million Rows.
3. There are several noticable data quality issues which we will discuss in this Notebook.
4. After we have created the simple API, we are going to parallelize the IO, increase the number of workers to assist with getting this data more rapidly.

In [1]:
import sys
sys.path.append('/Users/jordancarson/Projects/JPM/nyc-open-data')
import os
import requests
from requests.auth import HTTPBasicAuth
import json
import base64 
import traceback
from datetime import datetime, timedelta
import warnings

import pandas as pd
from pandas.core import api
from sodapy import Socrata

from tqdm import tqdm
# personal common library
from common.utilities import decorators 
from concurrent.futures import ThreadPoolExecutor

warnings.filterwarnings('ignore')

In [2]:
API_LIMIT = 50000 # we want to pull 50,000 records at each iteration
NYC_OPEN_DATA_API_ENDPOINT = 'https://data.cityofnewyork.us/resource/h9gi-nx95.json'
NYC_OPEN_DATA_API_KEY = "311jty15z5y8qcksv6wy8f724"
NYC_OPEN_DATA_API_SECRET =  "43c9eoayynpkyfceayqri48epnfmdxntbpli0p5zrz24yw6fjp"
NYC_OPEN_DATA_APP_TOKEN = 'Ivn8M6s3sEWUF69NbSH3Tbbkm'
NYC_OPEN_DATA_APP_SECRET = 'f2WCAvrC-sUWGRIvBlHQlLalJJI_uaQrhInk'

### Step 1: Query the Data

We are going to create a function to call the API using the offset and limit parameters in our request URL. The below code snippet downloads all the data and returns a single Pandas Dataframe.

In [3]:
@decorators.timeit
def api_pagination_results(orient = 'records'):
    """
    One method to pull data from the Open Source API is to 
    """
    ID = 'collision_id'
    finished = False
    offset = 0
    out_frames = list()
    while not finished:
        ENDPOINT = f'https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit={API_LIMIT}&$offset={offset}&$order={ID}'
        response = requests.get(ENDPOINT, auth=HTTPBasicAuth(NYC_OPEN_DATA_API_KEY, NYC_OPEN_DATA_API_SECRET))

        temp_df = pd.read_json(response.text, orient=orient)
        length = len(temp_df)
        out_frames.append(temp_df)
        
        offset += temp_df.shape[0] # len(temp_df)

        if length < API_LIMIT:
            finished = True
        
    # concatenate the list into one master dataframe
    df = pd.concat(out_frames, ignore_index=True)
    del out_frames, length, offset
    return df

In [ ]:
# data = api_pagination_results()

We are now going to parallelize the requests using the ThreadPoolExecutor from the `concurrency` library. The idea is that we will create a function to pull the response from the endpoint, and then use the exector to map the response function to a list of URLs. In this instance, we will need the full-list of URLs ahead of time.

When we parallelize the job the request is completed in:
    attack_all => 7653.711795806885 ms
    This is when we return a DataFrame instead of response.text.encode('utf8')

In [16]:
def get_one(url):
    headers = {
        "x-api-key": NYC_OPEN_DATA_API_KEY,
        "Content-Type": "application/json",
    }
    response = requests.request("GET", url, auth=HTTPBasicAuth(NYC_OPEN_DATA_API_KEY, NYC_OPEN_DATA_API_SECRET), headers=headers)
    return pd.read_json(response.text, orient='records')
    # return response.text.encode("utf8")

In [17]:
@decorators.timeit
def get_all(urls, workers=15):
    with ThreadPoolExecutor(max_workers=workers) as executor:
        results = list(
            tqdm(executor.map(get_one, urls, timeout=60), total=len(urls))
        )
        return results

In [18]:
def create_urls(id='collision_id'):
    
    # we start with an offset of 0, we then increment the offset to be equal to the number of records returned. We are specifying the 
    # number of records returned via the API_LIMIT. 
    offset, limit = 0, 50000
    urls = list()
    for _ in range(0, 200 * 1000, limit):
        ENDPOINT = f'https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit={limit}&$offset={offset}&$order={id}'
        urls.append(ENDPOINT)
        offset += limit
    return urls

In [19]:
urls = create_urls()
results = get_all(urls)
for result in results:
        print(result)
        # print(result)

100%|██████████| 4/4 [00:08<00:00,  2.13s/it]

get_all => 8515.436887741089 ms
                    crash_date          crash_time    borough  zip_code  \
0      2012-07-01T00:00:00.000 2021-10-15 10:40:00  MANHATTAN   10013.0
1      2012-07-01T00:00:00.000 2021-10-15 12:18:00  MANHATTAN   10004.0
2      2012-07-01T00:00:00.000 2021-10-15 15:00:00        NaN       NaN
3      2012-07-01T00:00:00.000 2021-10-15 18:00:00  MANHATTAN   10007.0
4      2012-07-01T00:00:00.000 2021-10-15 19:30:00  MANHATTAN   10013.0
...                        ...                 ...        ...       ...
49995  2013-10-11T00:00:00.000 2021-10-15 12:50:00  MANHATTAN   10028.0
49996  2013-10-11T00:00:00.000 2021-10-15 10:20:00  MANHATTAN   10028.0
49997  2013-10-11T00:00:00.000 2021-10-15 15:19:00  MANHATTAN   10021.0
49998  2013-10-11T00:00:00.000 2021-10-15 14:15:00  MANHATTAN   10075.0
49999  2013-10-11T00:00:00.000 2021-10-15 13:01:00  MANHATTAN   10075.0

        latitude  longitude  \
0      40.720854 -74.003929
1      40.704799 -74.016685
2            NaN        NaN
3      40.713692 -74.013754
4      40.719058 -74.012442
...          ...        ...
49995  40.779145 -73.944774
49996  40.774612 -73.948085
49997  40.772332 -73.958715
49998  40.774954 -73.961010
49999  40.771390 -73.950430

                                                location  \
0      {'latitude': '40.7208537', 'longitude': '-74.0...
1      {'latitude': '40.7047985', 'longitude': '-74.0...
2                                                    NaN
3      {'latitude': '40.7136919', 'longitude': '-74.0...
4      {'latitude': '40.719058', 'longitude': '-74.01...
...                                                  ...
49995  {'latitude': '40.7791445', 'longitude': '-73.9...
49996  {'latitude': '40.7746117', 'longitude': '-73.9...
49997  {'latitude': '40.7723324', 'longitude': '-73.9...
49998  {'latitude': '40.7749544', 'longitude': '-73.9...
49999  {'latitude': '40.7713904', 'longitude': '-73.9...

                         on_street_name                   off_street_name  \
0      CANAL STREET                      WOOSTER STREET
1      BATTERY PLACE                     WEST STREET
2      WATER STREET                      OLD SLIP
3      WEST STREET                       VESEY STREET
4      WEST STREET                       HARRISON STREET
...                                 ...                               ...
49995  YORK AVENUE                       EAST 91 STREET
49996  EAST 84 STREET                    YORK AVENUE
49997  3 AVENUE                          EAST 76 STREET
49998  EAST 78 STREET                    PARK AVENUE
49999  EAST 79 STREET                    YORK AVENUE

       number_of_persons_injured  ...  collision_id  \
0                              0  ...            22
1                              0  ...            23
2                              0  ...            24
3                              0  ...            25
4                              0  ...            26
...                          ...  ...           ...
49995                          0  ...         50434
49996                          1  ...         50435
49997                          0  ...         50436
49998                          0  ...         50437
49999                          0  ...         50438

                  vehicle_type_code1              vehicle_type_code2  \
0      SPORT UTILITY / STATION WAGON                             VAN
1                               TAXI                            TAXI
2                                BUS               PASSENGER VEHICLE
3                  PASSENGER VEHICLE               PASSENGER VEHICLE
4                  PASSENGER VEHICLE               PASSENGER VEHICLE
...                              ...                             ...
49995              PASSENGER VEHICLE               PASSENGER VEHICLE
49996                           TAXI                             NaN
49997                            VAN               PASSENGER VEHICLE
49998  SPORT UTILITY / STATION WAGON  LARGE COM VEH(6 OR MORE TIRES)
49999              PASSENGER VEHICLE                            TAXI

       contributing_factor_vehicle_3  vehicle_type_code_3  cross_street_name  \
0                                NaN                  NaN                NaN
1                                NaN                  NaN                NaN
2                                NaN                  NaN                NaN
3                                NaN                  NaN                NaN
4                                NaN                  NaN                NaN
...                              ...                  ...                ...
49995                            NaN                  NaN                NaN
49996                            NaN                  NaN                NaN
49997                            NaN                  NaN                NaN
49998                            NaN                  NaN                NaN
49999                            NaN                  NaN                NaN

       contributing_factor_vehicle_4 contributing_factor_vehicle_5  \
0                                NaN                           NaN
1                                NaN                           NaN
2                                NaN                           NaN
3                                NaN                           NaN
4                                NaN                           NaN
...                              ...                           ...
49995                            NaN                           NaN
49996                            NaN                           NaN
49997                            NaN                           NaN
49998                            NaN                           NaN
49999                            NaN                           NaN

      vehicle_type_code_4  vehicle_type_code_5
0                     NaN                  NaN
1                     NaN                  NaN
2                     NaN                  NaN
3                     NaN                  NaN
4                     NaN                  NaN
...                   ...                  ...
49995                 NaN                  NaN
49996                 NaN                  NaN
49997                 NaN                  NaN
49998                 NaN                  NaN
49999                 NaN                  NaN

[50000 rows x 29 columns]
                    crash_date          crash_time    borough  zip_code  \
0      2013-10-11T00:00:00.000 2021-10-15 09:40:00  MANHATTAN   10065.0
1      2013-10-09T00:00:00.000 2021-10-15 17:30:00  MANHATTAN   10021.0
2      2013-10-11T00:00:00.000 2021-10-15 18:40:00  MANHATTAN   10065.0
3      2013-10-11T00:00:00.000 2021-10-15 16:05:00  MANHATTAN   10065.0
4      2013-10-11T00:00:00.000 2021-10-15 20:30:00  MANHATTAN   10065.0
...                        ...                 ...        ...       ...
49995  2013-02-02T00:00:00.000 2021-10-15 12:40:00      BRONX   10457.0
49996  2013-02-02T00:00:00.000 2021-10-15 12:50:00        NaN       NaN
49997  2013-02-02T00:00:00.000 2021-10-15 18:35:00      BRONX   10460.0
49998  2013-02-03T00:00:00.000 2021-10-15 11:20:00      BRONX   10460.0
49999  2013-02-03T00:00:00.000 2021-10-15 18:30:00      BRONX   10458.0

        latitude  longitude  \
0      40.760535 -73.958351
1      40.767494 -73.959318
2      40.763114 -73.962515
3      40.764365 -73.961608
4      40.761789 -73.957441
...          ...        ...
49995  40.846863 -73.901413
49996        NaN        NaN
49997  40.839903 -73.875612
49998  40.845764 -73.881764
49999  40.855554 -73.887566

                                                location  \
0      {'latitude': '40.7605353', 'longitude': '-73.9...
1      {'latitude': '40.7674936', 'longitude': '-73.9...
2      {'latitude': '40.7631141', 'longitude': '-73.9...
3      {'latitude': '40.7643654', 'longitude': '-73.9...
4      {'latitude': '40.7617894', 'longitude': '-73.9...
...                                                  ...
49995  {'latitude': '40.8468635', 'longitude': '-73.9...
49996                                                NaN
49997  {'latitude': '40.8399027', 'longitude': '-73.8...
49998  {'latitude': '40.8457636', 'longitude': '-73.8...
49999  {'latitude': '40.8555543', 'longitude': '-73.8...

                         on_street_name                   off_street_name  \
0      EAST 62 STREET                    YORK AVENUE
1      2 AVENUE                          EAST 70 STREET
2      EAST 63 STREET                    2 AVENUE
3      2 AVENUE                          EAST 65 STREET
4      YORK AVENUE                       EAST 64 STREET
...                                 ...                               ...
49995  EAST 176 STREET                   WEBSTER AVENUE
49996  HUGHES AVENUE                     CRESCENT AVENUE
49997  EAST TREMONT AVENUE               BRONX PARK AVENUE
49998  EAST 181 STREET                   HONEYWELL AVENUE
49999  ARTHUR AVENUE                     EAST 187 STREET

       number_of_persons_injured  ...  collision_id  \
0                              0  ...         50439
1                              0  ...         50440
2                              0  ...         50441
3                              0  ...         50442
4                              0  ...         50443
...                          ...  ...           ...
49995                          0  ...        100834
49996                          0  ...        100835
49997                          0  ...        100836
49998                          0  ...        100837
49999                          1  ...        100838

                   vehicle_type_code1             vehicle_type_code2  \
0       SPORT UTILITY / STATION WAGON                           TAXI
1                               OTHER                           TAXI
2                                TAXI        SMALL COM VEH(4 TIRES)
3                                TAXI  SPORT UTILITY / STATION WAGON
4       SPORT UTILITY / STATION WAGON  SPORT UTILITY / STATION WAGON
...                               ...                            ...
49995               PASSENGER VEHICLE              PASSENGER VEHICLE
49996               PASSENGER VEHICLE        SMALL COM VEH(4 TIRES)
49997  LARGE COM VEH(6 OR MORE TIRES)              PASSENGER VEHICLE
49998   SPORT UTILITY / STATION WAGON              PASSENGER VEHICLE
49999               PASSENGER VEHICLE                        BICYCLE

       contributing_factor_vehicle_3  vehicle_type_code_3  cross_street_name  \
0                                NaN                  NaN                NaN
1                                NaN                  NaN                NaN
2                                NaN                  NaN                NaN
3                                NaN                  NaN                NaN
4                                NaN                  NaN                NaN
...                              ...                  ...                ...
49995                            NaN                  NaN                NaN
49996                            NaN                  NaN                NaN
49997                            NaN                  NaN                NaN
49998                            NaN                  NaN                NaN
49999                            NaN                  NaN                NaN

       contributing_factor_vehicle_4 vehicle_type_code_4  \
0                                NaN                 NaN
1                                NaN                 NaN
2                                NaN                 NaN
3                                NaN                 NaN
4                                NaN                 NaN
...                              ...                 ...
49995                            NaN                 NaN
49996                            NaN                 NaN
49997                            NaN                 NaN
49998                            NaN                 NaN
49999                            NaN                 NaN

      contributing_factor_vehicle_5  vehicle_type_code_5
0                               NaN                  NaN
1                               NaN                  NaN
2                               NaN                  NaN
3                               NaN                  NaN
4                               NaN                  NaN
...                             ...                  ...
49995                           NaN                  NaN
49996                           NaN                  NaN
49997                           NaN                  NaN
49998                           NaN                  NaN
49999                           NaN                  NaN

[50000 rows x 29 columns]
                    crash_date          crash_time   borough  zip_code  \
0      2013-02-02T00:00:00.000 2021-10-15 23:05:00     BRONX   10457.0
1      2013-02-03T00:00:00.000 2021-10-15 00:43:00     BRONX   10460.0
2      2013-02-03T00:00:00.000 2021-10-15 09:20:00     BRONX   10457.0
3      2013-02-04T00:00:00.000 2021-10-15 12:20:00       NaN       NaN
4      2013-02-04T00:00:00.000 2021-10-15 17:30:00     BRONX   10460.0
...                        ...                 ...       ...       ...
49995  2013-10-22T00:00:00.000 2021-10-15 19:45:00  BROOKLYN   11230.0
49996  2013-10-23T00:00:00.000 2021-10-15 00:30:00  BROOKLYN   11210.0
49997  2013-10-22T00:00:00.000 2021-10-15 19:00:00  BROOKLYN   11210.0
49998  2013-10-23T00:00:00.000 2021-10-15 07:15:00  BROOKLYN   11226.0
49999  2013-10-23T00:00:00.000 2021-10-15 09:45:00       NaN       NaN

        latitude  longitude  \
0      40.852301 -73.895094
1      40.850707 -73.884198
2      40.842286 -73.892504
3            NaN        NaN
4      40.840868 -73.872806
...          ...        ...
49995  40.625597 -73.957596
49996  40.636326 -73.958400
49997  40.633997 -73.947773
49998  40.637931 -73.961876
49999        NaN        NaN

                                                location  \
0      {'latitude': '40.8523007', 'longitude': '-73.8...
1      {'latitude': '40.8507066', 'longitude': '-73.8...
2      {'latitude': '40.8422856', 'longitude': '-73.8...
3                                                    NaN
4      {'latitude': '40.8408685', 'longitude': '-73.8...
...                                                  ...
49995  {'latitude': '40.6255968', 'longitude': '-73.9...
49996  {'latitude': '40.6363264', 'longitude': '-73.9...
49997  {'latitude': '40.6339973', 'longitude': '-73.9...
49998  {'latitude': '40.6379306', 'longitude': '-73.9...
49999                                                NaN

                         on_street_name                   off_street_name  \
0      EAST 181 STREET                   WASHINGTON AVENUE
1      GROTE STREET                      PROSPECT AVENUE
2      CLINTON AVENUE                    EAST 175 STREET
3      EAST 177 STREET                   EAST TREMONT AVENUE
4      MORRIS PARK AVENUE                EAST 180 STREET
...                                 ...                               ...
49995  AVENUE J                          EAST 19 STREET
49996  OCEAN AVENUE                      FOSTER AVENUE
49997  NOSTRAND AVENUE                   GLENWOOD ROAD
49998  DITMAS AVENUE                     EAST 17 STREET
49999  FLATBUSH AVENUE                   CORTELYOU ROAD

       number_of_persons_injured  ...  collision_id  \
0                              0  ...        100839
1                              0  ...        100840
2                              0  ...        100841
3                              0  ...        100842
4                              0  ...        100843
...                          ...  ...           ...
49995                          1  ...        151224
49996                          0  ...        151225
49997                          1  ...        151226
49998                          0  ...        151227
49999                          0  ...        151228

                  vehicle_type_code1             vehicle_type_code2  \
0      SPORT UTILITY / STATION WAGON  SPORT UTILITY / STATION WAGON
1                  PASSENGER VEHICLE              PASSENGER VEHICLE
2                  PASSENGER VEHICLE                        UNKNOWN
3      SPORT UTILITY / STATION WAGON                            BUS
4                  PASSENGER VEHICLE                           TAXI
...                              ...                            ...
49995              PASSENGER VEHICLE                            NaN
49996              PASSENGER VEHICLE              PASSENGER VEHICLE
49997  SPORT UTILITY / STATION WAGON                            NaN
49998              PASSENGER VEHICLE                        UNKNOWN
49999              PASSENGER VEHICLE              PASSENGER VEHICLE

       contributing_factor_vehicle_3  vehicle_type_code_3  \
0                                NaN                  NaN
1                                NaN                  NaN
2                                NaN                  NaN
3                                NaN                  NaN
4                                NaN                  NaN
...                              ...                  ...
49995                            NaN                  NaN
49996                            NaN                  NaN
49997                            NaN                  NaN
49998                            NaN                  NaN
49999                            NaN                  NaN

       contributing_factor_vehicle_4  contributing_factor_vehicle_5  \
0                                NaN                            NaN
1                                NaN                            NaN
2                                NaN                            NaN
3                                NaN                            NaN
4                                NaN                            NaN
...                              ...                            ...
49995                            NaN                            NaN
49996                            NaN                            NaN
49997                            NaN                            NaN
49998                            NaN                            NaN
49999                            NaN                            NaN

      vehicle_type_code_4 vehicle_type_code_5  cross_street_name
0                     NaN                 NaN                NaN
1                     NaN                 NaN                NaN
2                     NaN                 NaN                NaN
3                     NaN                 NaN                NaN
4                     NaN                 NaN                NaN
...                   ...                 ...                ...
49995                 NaN                 NaN                NaN
49996                 NaN                 NaN                NaN
49997                 NaN                 NaN                NaN
49998                 NaN                 NaN                NaN
49999                 NaN                 NaN                NaN

[50000 rows x 29 columns]
                    crash_date          crash_time  \
0      2013-10-23T00:00:00.000 2021-10-15 08:00:00
1      2013-10-23T00:00:00.000 2021-10-15 13:46:00
2      2013-10-23T00:00:00.000 2021-10-15 11:00:00
3      2013-10-23T00:00:00.000 2021-10-15 19:55:00
4      2013-10-23T00:00:00.000 2021-10-15 18:30:00
...                        ...                 ...
49995  2013-04-12T00:00:00.000 2021-10-15 22:45:00
49996  2013-04-13T00:00:00.000 2021-10-15 08:10:00
49997  2013-04-13T00:00:00.000 2021-10-15 16:00:00
49998  2013-04-13T00:00:00.000 2021-10-15 15:40:00
49999  2013-04-16T00:00:00.000 2021-10-15 08:00:00

                         on_street_name                   off_street_name  \
0      PARKSIDE AVENUE                   PARK CIRCLE
1      BEDFORD AVENUE                    AVENUE K